[submodule "LEDscape"]
	path = LEDscape
	url = https://github.com/chillpop/LEDscape.git
[submodule "Mindwave"]
	path = Mindwave
	url = https://github.com/chillpop/python-mindwave-mobile.git
[submodule "fadecandy"]
	path = fadecandy
	url = https://github.com/chillpop/fadecandy.git
