[submodule "LEDscape"]
	path = LEDscape
	url = https://github.com/chillpop/LEDscape.git
[submodule "Mindwave"]
	path = Mindwave
	url = https://github.com/chillpop/python-mindwave-mobile.git
[submodule "rpi_ws281x"]
	path = rpi_ws281x
	url = https://github.com/chillpop/rpi_ws281x.git
